# To get some details about tuners:
#   cat /var/log/kernel.log | grep "dvb\|DVB:"
#   udevadm info -a -p $(udevadm info -q path -n /dev/dvb/adapter0/frontend0)
#
# To add new card:
#   1. read subsystem_vendor & subsystem_device via udevadm info
#   2. put these values in lines
#      \
#      ATTRS{subsystem_vendor}
#      ATTRS{subsystem_device}
#      \
#   3. add desirable <name> in line:
#      \
#      <name>:%k
#      \




#----DVB-T tuners-------------
# Nova-T 0x0070:0x9002
SUBSYSTEM=="dvb", KERNEL=="dvb[0-9].frontend0",	\
	    \
	    ATTRS{subsystem_vendor}=="0x0070",	\
	    ATTRS{subsystem_device}=="0x9002",	\
	    \
	    , PROGRAM="/bin/sh -c 'rc=`grep -c -s %k /tmp/dvb-adapter-%k.map`; if [ $rc != 0 ] ; then exit 0 ; else echo \
	    \
	    Hauppauge_Nova-T:%k \
	    \
	    >> /tmp/dvb-adapter-%k.map; fi ; exit 0'"


# WinTV-HVR1100 DVB-T/Hybrid 0x0070:0x9800
SUBSYSTEM=="dvb", KERNEL=="dvb[0-9].frontend0",	\
	    \
	    ATTRS{subsystem_vendor}=="0x0070",	\
	    ATTRS{subsystem_device}=="0x9800",	\
	    \
	    , PROGRAM="/bin/sh -c 'rc=`grep -c -s %k /tmp/dvb-adapter-%k.map`; if [ $rc != 0 ] ; then exit 0 ; else echo \
	    \
	    Hauppauge_HVR1100:%k \
	    \
	    >> /tmp/dvb-adapter-%k.map; fi ; exit 0'"


# K-World PE-310 DUal DVB-T PCIe tuner 0x0070:0x9800
SUBSYSTEM=="dvb", KERNEL=="dvb[0-9].frontend0",	\
	    \
	    ATTRS{subsystem_vendor}=="0x17de",	\
	    ATTRS{subsystem_device}=="0x7521",	\
	    \
	    , PROGRAM="/bin/sh -c 'rc=`grep -c -s %k /tmp/dvb-adapter-%k.map`; if [ $rc != 0 ] ; then exit 0 ; else echo \
	    \
	    K-World_PE310:%k \
	    \
	    >> /tmp/dvb-adapter-%k.map; fi ; exit 0'"


#----DVB-S tuners-------------
# ProfTuners 7301 0xb034:0x3034
SUBSYSTEM=="dvb", KERNEL=="dvb[0-9].frontend0",	\
	    \
	    ATTRS{subsystem_vendor}=="0xb034",	\
	    ATTRS{subsystem_device}=="0x3034",	\
	    \
	    , PROGRAM="/bin/sh -c 'rc=`grep -c -s %k /tmp/dvb-adapter-%k.map`; if [ $rc != 0 ] ; then exit 0 ; else echo \
	    \
	    ProfTuners_ptg7301:%k \
	    \
	    >> /tmp/dvb-adapter-%k.map; fi ; exit 0'"


# DVBSky S952 0x4254:0x0952
SUBSYSTEM=="dvb", KERNEL=="dvb[0-9].frontend0",	\
	    \
	    ATTRS{subsystem_vendor}=="0x4254",	\
	    ATTRS{subsystem_device}=="0x0952",	\
	    \
	    , PROGRAM="/bin/sh -c 'rc=`grep -c -s %k /tmp/dvb-adapter-%k.map`; if [ $rc != 0 ] ; then exit 0 ; else echo \
	    \
	    DvbSky_S952:%k \
	    \
	    >> /tmp/dvb-adapter-%k.map; fi ; exit 0'"


# Tevii S480 0xa000:0x4000
SUBSYSTEM=="dvb", KERNEL=="dvb[0-9].frontend0",	\
	    \
	    ATTRS{subsystem_vendor}=="0xa000",	\
	    ATTRS{subsystem_device}=="0x4000",	\
	    \
	    , PROGRAM="/bin/sh -c 'rc=`grep -c -s %k /tmp/dvb-adapter-%k.map`; if [ $rc != 0 ] ; then exit 0 ; else echo \
	    \
	    Tevii_S480:%k \
	    \
	    >> /tmp/dvb-adapter-%k.map; fi ; exit 0'"


# Technotrend S3200 0x1458:0x026f
SUBSYSTEM=="dvb", KERNEL=="dvb[0-9].frontend0",	\
	    \
	    ATTRS{subsystem_vendor}=="0x1458",	\
	    ATTRS{subsystem_device}=="0x026f",	\
	    \
	    , PROGRAM="/bin/sh -c 'rc=`grep -c -s %k /tmp/dvb-adapter-%k.map`; if [ $rc != 0 ] ; then exit 0 ; else echo \
	    \
	    TechnoTrend_S3200:%k \
	    \
	    >> /tmp/dvb-adapter-%k.map; fi ; exit 0'"
